.416_2 { 
	overflow:hidden;
}.e416_2 { 
	width:1440px;
	height:1024px;
	position:absolute;
	background-image:url(images/wireframe___1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e421_608 { 
	width:1454px;
	height:61px;
	position:absolute;
	left:-2px;
	top:550px;
}.e421_607 { 
	background-color:rgba(234.00000125169754, 37.00000159442425, 46.000001057982445, 0.5);
	width:1454px;
	height:61px;
	position:absolute;
	left:0px;
	top:0px;
}.e417_58 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(250.00000029802322, 250.00000029802322, 250.00000029802322, 1);
	width:348px;
	height:39px;
	position:absolute;
	left:546px;
	top:9px;
	font-family:Montserrat;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
}.e417_61 { 
	width:700px;
	height:59px;
	position:absolute;
	left:368px;
	top:340px;
}.e417_59 { 
	background-color:rgba(250.00000029802322, 250.00000029802322, 250.00000029802322, 1);
	opacity:0.8999999761581421;
	width:700px;
	height:59px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}.e417_60 { 
	color:rgba(53.00000064074993, 50.000000819563866, 56.000000461936, 1);
	width:466px;
	height:39px;
	position:absolute;
	left:117px;
	top:10px;
	font-family:Montserrat;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
}.e421_352 { 
	width:700px;
	height:59px;
	position:absolute;
	left:368px;
	top:443px;
}.e421_353 { 
	background-color:rgba(250.00000029802322, 250.00000029802322, 250.00000029802322, 1);
	opacity:0.8999999761581421;
	width:700px;
	height:59px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}.e421_354 { 
	color:rgba(53.00000064074993, 50.000000819563866, 56.000000461936, 1);
	width:288px;
	height:39px;
	position:absolute;
	left:206px;
	top:10px;
	font-family:Montserrat;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
}.e417_70 { 
	width:627px;
	height:109px;
	position:absolute;
	left:25px;
	top:25px;
}.ei417_70_417_64 { 
	color:rgba(250.00000029802322, 250.00000029802322, 250.00000029802322, 1);
	width:473px;
	height:78px;
	position:absolute;
	left:134px;
	top:15px;
	font-family:Montserrat;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}.ei417_70_417_63 { 
	width:109px;
	height:109px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
	background-image:url(images/image_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.ei417_70_417_65 { 
	transform: rotate(0.12062250921600412deg);
	width:475.00103759765625px;
	height:0px;
	position:absolute;
	left:134px;
	top:54px;
}.i417_70_417_65 { 
	border:2px solid rgba(250.00000029802322, 250.00000029802322, 250.00000029802322, 1);
}.e421_390 { 
	width:1360px;
	height:274px;
	position:absolute;
	left:40px;
	top:660px;
}.ei421_390_417_46 { 
	width:436px;
	height:117px;
	position:absolute;
	left:200px;
	top:157px;
}.ei421_390_417_46_421_67 { 
	background-color:rgba(124.00000020861626, 123.0000002682209, 129.00000751018524, 1);
	width:444px;
	height:116px;
	position:absolute;
	left:-2px;
	top:-1px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}.ei421_390_417_46_417_41 { 
	color:rgba(250.00000029802322, 250.00000029802322, 250.00000029802322, 1);
	width:230px;
	height:39px;
	position:absolute;
	left:103px;
	top:39px;
	font-family:Montserrat;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
}.ei421_390_417_55 { 
	width:436px;
	height:117px;
	position:absolute;
	left:0px;
	top:0px;
}.ei421_390_417_55_421_67 { 
	background-color:rgba(124.00000020861626, 123.0000002682209, 129.00000751018524, 1);
	width:444px;
	height:116px;
	position:absolute;
	left:-2px;
	top:-1px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}.ei421_390_417_55_417_41 { 
	color:rgba(250.00000029802322, 250.00000029802322, 250.00000029802322, 1);
	width:247px;
	height:39px;
	position:absolute;
	left:95px;
	top:39px;
	font-family:Montserrat;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
}.ei421_390_417_49 { 
	width:436px;
	height:117px;
	position:absolute;
	left:724px;
	top:157px;
}.ei421_390_417_49_421_67 { 
	background-color:rgba(124.00000020861626, 123.0000002682209, 129.00000751018524, 1);
	width:444px;
	height:116px;
	position:absolute;
	left:-2px;
	top:-1px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}.ei421_390_417_49_417_41 { 
	color:rgba(250.00000029802322, 250.00000029802322, 250.00000029802322, 1);
	width:246px;
	height:39px;
	position:absolute;
	left:95px;
	top:39px;
	font-family:Montserrat;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
}.ei421_390_417_52 { 
	width:436px;
	height:117px;
	position:absolute;
	left:924px;
	top:0px;
}.ei421_390_417_52_421_67 { 
	background-color:rgba(124.00000020861626, 123.0000002682209, 129.00000751018524, 1);
	width:444px;
	height:116px;
	position:absolute;
	left:-2px;
	top:-1px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}.ei421_390_417_52_417_41 { 
	color:rgba(250.00000029802322, 250.00000029802322, 250.00000029802322, 1);
	width:229px;
	height:39px;
	position:absolute;
	left:104px;
	top:39px;
	font-family:Montserrat;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
}.e452_142 { 
	width:196px;
	height:47px;
	position:absolute;
	left:1182px;
	top:32px;
}.ei452_142_421_581 { 
	background-color:rgba(124.00000020861626, 123.0000002682209, 129.00000751018524, 1);
	width:195px;
	height:46px;
	position:absolute;
	left:1px;
	top:1px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
}.ei452_142_421_582 { 
	background-color:rgba(234.00000125169754, 37.00000159442425, 46.000001057982445, 1);
	width:99px;
	height:47px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
}.ei452_142_421_583 { 
	color:rgba(250.00000029802322, 250.00000029802322, 250.00000029802322, 1);
	width:44px;
	height:39px;
	position:absolute;
	left:28px;
	top:4px;
	font-family:Montserrat;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
}.ei452_142_421_584 { 
	color:rgba(250.00000029802322, 250.00000029802322, 250.00000029802322, 1);
	width:33px;
	height:39px;
	position:absolute;
	left:133px;
	top:4px;
	font-family:Montserrat;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
}