.manageAdmin {
    background-image: url('../images/black-background.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.input {
    width: 300px;
    height: 20px;
    background-color: transparent;
    border: none;
    border-radius: 25px;
    border-bottom: 2px solid var(--grey);
    padding: 25px;
    margin: 0px;

    font-family: 'Montserrat';
    font-size: 1.5rem;
    color: var(--white);
}

.sign-out {
    position: absolute;
    top: 1em;
    right: 1em;
}

.logoAdmin {
    position: absolute;
    top: 30px;
    left: 100px;
}

.title {
    text-align: center;
    font-size: 50px;
    color: var(--white);
}

.addingActions {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-top: 2em;
}

.inputs-container {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    font-family: 'Montserrat';
}

.admin-container{
    display: flex;
    font-size: 22px;
    color: var(--white);
    width: 100%;
    justify-content: space-around;
}

.admin-checkbox {
    display: flex;
}

.admin-checkbox input {
    opacity: 0;
}

.mainAdmin-checkbox input {
    opacity: 0;
}

.checkmark1 {
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

.checkmark2 {
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

.admin-checkbox:hover input~.checkmark1 {
    background-color: #ccc;
}

.admin-checkbox input:checked~.checkmark1 {
    background-color: var(--red);
}

.admin-checkbox:hover input~.checkmark2 {
    background-color: #ccc;
}

.admin-checkbox input:checked~.checkmark2 {
    background-color: var(--red);
}