.adminHome {
    background-image: url('../images/black-background.jpg');
    background-size: cover;
    min-height: 100dvh;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

.signout-settings {
    display: flex;
    position: absolute;
    top: 1em;
    right: 1em;
    width: 20em;
}

.sign-out-button {
    padding: 1em 2em;
    background-color: var(--red);
    color: var(--white);
    border: none;
    border-radius: 1em;
    font-size: 1em;
}

.sign-out-button, .settings_button {
    margin: 1em;
    cursor: pointer;
}

.main-menu-button-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    /* background-color: var(--grey); */
}

.main-menu-button {
    width: 11em;
    height: 11em;
    margin: 1em 1em;

    background-color: var(--red);
    color: var(--white);
    border: none;
    border-radius: 2em;
    padding: 0.5em 1em;

    font-size: 2em;
    font-family: 'Montserrat';
    cursor: pointer;
    transition: all 300ms ease-in-out;
}
.main-menu-button:hover {
    background-color: var(--white);
    color: var(--red);
}

/* @media only screen and (max-width: 1000px) {
    .main-menu-button-group {
        flex-direction: column;
    }
} */