.background {
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('../images/black-background.jpg');
    background-size: contain;
    background-position: center;
    width: 100%;
    min-height: 100%;

    display: flex;
    flex-direction: column;

}

.background>h1 {
    padding-top: 8vh;
    text-align: center;
}

.article-container {
    display: flex;
    justify-content: center;
}

.background,
.list-item-text,
.list-item-text>p,
.list-item-text>span {
    color: var(--white);
    font-family: 'Montserrat';
}

.link {
    text-decoration: none;
}

.link:visited {
    color: var(--white);
}

.individual-article {
    background-color: var(--red);
    border-radius: 20px;
    margin: 1rem 0;
    transition: all ease-in-out 200ms;
    cursor: pointer;
}

.individual-article:hover {
    background-color: var(--white);
    scale: 1.2;
}

.individual-article:hover * {
    color: var(--red);
}

#artifact-search-bar {
    display: flex;
    margin: 0 auto;
    text-align: center;
    width: 675px;
    height: 60px;
    padding: 0 15px !important;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    color: var(--black);

    background: var(--white);
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}