:root {
  --primary-color: #444;
  --input-bg-color: var(--white);
  --input-border-color: #ccc;
  --input-text-color: black;
  --form-bg-color: lightblue;
  
}

input[type=text] {
  background-color: var(--input-bg-color);
  color: var(--input-text-color);
}

input,
select {
  width: 100%;
  padding: 8px;
  border: 1px solid var(--input-border-color);
  border-radius: 4px;
}

label,
.MuiFormLabel-colorSecondary {
  color: var(--primary-color);
}

select {
  color: var(--input-text-color);
  padding: 8px;
  border: 1px solid var(--input-border-color);
  border-radius: 4px;
}

#artifact-add-form {
  background-image: url('../images/black-background.jpg');
  background-color: var(--form-bg-color);
  background-size: cover; /* Adjust the size of the image to cover the entire element */
  background-position: center; /* Center the image within the element */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  padding: 20px;
  border-radius: 8px;
}

#form-outer {
  width: 95%;
  margin: 150px;
}

#right {
  padding-top: 20px;
  float: right;
  width: 15%;
}

#left {
  float: left;
  width: 50%;
}

#upload,
#add {
  margin: 8px;
}

#add {
  clear: left;
}

#add-button {
  margin: auto;
}

.MuiInputBase-root,
.MuiTextField-root {
  margin: 8px;
  background: var(--input-bg-color);
  width: 100%;
}

.MuiButtonBase-root {
  margin: 10px;
}

.MuiSelect-select {
  color: var(--input-text-color);
}

#logout {
  position: absolute;
  top: 10px;
  right: 10px;
}

#name,
#tag,
#date,
#exhibit {
  margin-top: 20px;
  /* padding-top: 26px; */
  font-size: 130%;
}

#chooseButton{
  margin-top: 15px;
  margin-bottom: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#description{
  background-color: var(--white);
  padding: 0%;
  margin: 0%;
  padding: 0.5em; /* Add padding to create space between the text and the box edges */
  margin: 0%;
  border-radius: 10px;
  width: 100%;
}

#tag, #exhibit{
  background-color: var(--white);
  padding: 0.2em; /* Add padding to create space between the text and the box edges */
  margin-top: 20px;
  border-radius: 10px;
}

/* If needed, make the selector more specific. Causes problems with logo. */
/* img {
  margin-top: 30px;
  width: 100px;
} */