/* make the text disappear when the user clicks on the searchbar */
input:focus::-webkit-input-placeholder {
    color: transparent;
}

input:focus:-moz-placeholder {
    color: transparent;
}

/* Firefox 18- */
input:focus::-moz-placeholder {
    color: transparent;
}

/* Firefox 19+ */



/* Homepage Background */
.home {
    position: absolute;
    top: 0;
    left: 0;
    height: max-content;
    min-height: 100%;

    background: url('../images/museum.png');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    -webkit-transition: background-image 200ms ease-in-out;
    -moz-transition: background-image 200ms ease-in-out;
    -o-transition: background-image 200ms ease-in-out;
    transition: background-image 200ms ease-in-out;
}

/* Styles each button on the home page */
/* @TODO: Move some of these stylings to a general button target if needed */
#exhibit-options-list>div>li>button {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;

    background-color: var(--grey);
    color: var(--white);

    width: 33vw;
    padding: 25px 0px;
    border-radius: 20px;

    transition-duration: 500ms;
}

#exhibit-options-list>div>li>button:hover {
    background-color: var(--white);
    color: red;
    border: 2px solid red;
}

/* Styles the UL that wraps all 4 exhibit buttons */
#exhibit-options-list {
    list-style-type: none;
    margin: 0;
    padding: 0em 2em;
}

/* Styles the home page exhibit buttons on hover */
#exhibit-options-list>div>li>button:hover {
    background-color: white;
    color: red;
    border: 2px solid red;
}

/* Spaces the first row of buttons appropriately for desktop styles */
#exhibit-options-r1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4em;
}

/* Spaces the second row of buttons appropriately for desktop styles */
#exhibit-options-r2 {
    display: flex;
    justify-content: space-around;
}

/* ╚⏤⏤⏤⏤╗ Homepage Button/Button-wrappers ╔⏤⏤⏤⏤╝*/


/* ╔⏤⏤⏤⏤╝ Homepage Time/Search Button/Button-wrappers ╚⏤⏤⏤⏤╗*/

.main-button-group {
    display: flex;
    margin-top: 8em;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 1em;
    padding-left: 0;
}

.landing-page-main-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 59px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;

    background: var(--white);
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    transition: all 300ms ease-in-out;
}

.landing-page-main-button:hover {
    background-color: white;
    color: red;
    border: 1px solid red;
}

.landing-page-main-button-link {
    color: var(--black);
    text-decoration: none;
}

.landing-page-main-button-link:visited {
    color: var(--black);
}

#landing-page-artifact-search-bar {
    text-align: center;
    width: 675px;
    height: 60px;
    padding: 0 15px !important;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    color: var(--black);

    background: var(--white);
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}



/* ╔⏤⏤⏤⏤╝ Banners ╚⏤⏤⏤⏤╗*/

.translucent-banner {
    /* position: relative; */
    display: flex;
    align-items: center;
    justify-content: center;

    height: 61px;
    width: 100vw;
    margin: 2em 0em;

    background: var(--translucent-red);
    color: var(--white);

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
}

/* ╚⏤⏤⏤⏤╗ Banners ╔⏤⏤⏤⏤╝*/

/* MOBILE */
@media only screen and (max-width: 750px) {

    /* ╔⏤⏤⏤⏤╝ Banners ╚⏤⏤⏤⏤╗*/
    .translucent-banner {
        margin: 1em 0em;
        font-size: 22px;
    }

    /* ╚⏤⏤⏤⏤╗ Banners ╔⏤⏤⏤⏤╝*/

    /* ╔⏤⏤⏤⏤╝ Artifact Search/Timeline Generation ╚⏤⏤⏤⏤╗*/
    .main-button-group {
        padding-left: 0px;
    }

    .landing-page-main-button {
        width: 95vw;
        height: 2em;
        font-size: 22px;
    }

    .landing-page-main-button-link {
        width: 95vw;
    }

    #landing-page-artifact-search-bar {
        width: 90vw;
        height: 2em;
        font-size: 22px;
    }

    /* ╚⏤⏤⏤⏤╗ Artifact Search/Timeline Generation ╔⏤⏤⏤⏤╝*/


    /* ╔⏤⏤⏤⏤╝ Homepage Exhibit Buttons/Button-wrappers ╚⏤⏤⏤⏤╗*/
    #exhibit-options-list {
        display: flex;
        justify-content: center;
        text-align: center;
        flex-direction: column;
    }

    #exhibit-options-list>div>li>a>button {
        width: 75vw !important;
    }

    /* Spaces the first row of buttons appropriately for desktop styles */
    #exhibit-options-r1 {
        flex-direction: column;
        gap: 1em;
        margin-bottom: 1em;
    }

    /* Spaces the second row of buttons appropriately for desktop styles */
    #exhibit-options-r2 {
        flex-direction: column;
        gap: 1em;
    }

    #exhibit-options-list>div>li>a>button {
        font-size: 18px;
        padding: 22px 0px;
        border-radius: 20px;
    }

    /* ╚⏤⏤⏤⏤╗ Homepage Exhibit Button/Button-wrappers ╔⏤⏤⏤⏤╝*/
}