.manageAdmin {
    background-image: url('../images/black-background.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

input {
    width: 100%;
    background-color: transparent;
    border: none;
    border-radius: 25px;
    border-bottom: 2px solid var(--grey);
    padding: 25px;
    margin: 0px;

    font-family: 'Montserrat';
    font-size: 1.5rem;
    color: var(--white);
}

.signout-settings {
    display: flex;
    position: absolute;
    top: 1em;
    right: 1em;
}

.sign-out-button {
    padding: 1em 2em;
    background-color: var(--red);
    color: var(--white);
    border: none;
    border-radius: 1em;
}

.settings-button {
    width: max-content;
    height: max-content;
}

.logoAdmin {
    position: absolute;
    top: 5px;
    left: 10px;
}

.title {
    text-align: center;
    left: 50%;
    transform: translate(-50%, 0%);
    position: absolute;
    top: 125px;
    font-size: 50px;
    color: #ffffff;
}

.actions {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%, 0%);
}

.return {
    margin: 20px;
}

.add {
    margin: 20px;
}

.admins{
    position: absolute;
    top: 250px;
    left: 50%;
    transform: translate(-46%, 0%);
    overflow: hidden;
    width:  500px;
}

.admins-container{
    height: 510px;
    width: 100%;
    color: #ffffff;
    align-items: center;
    overflow-y: scroll;
    padding-right: 17px; 
}

.emails {
    font-size: 20px;
    width: 300px;
    height: 20px;
}
.sign-out-button:hover{
    margin: 0px;
}

.return:hover,.add:hover{
    margin: 0px;
}
.return, .add{
    margin: 2px;
}
.admins-container{
    margin:10px;
}
.title{
    margin:auto;
    position: static;
}
