.search-list-container {
    position: absolute;
    left: 0;
    right: 0;
    background-color: var(--white);
    width: 50%;
    display: flex;
    margin: 0 auto;
    border-radius: 20px;
    overflow: hidden;
}

.search-list {
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0;
}

@keyframes popUp {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.search-list-item {
    font-family: 'Montserrat';
    font-size: 2rem;
    border-bottom: 2px solid var(--grey);
    padding: 1rem;
    margin: 0;
    animation: popUp 500ms ease-out 0ms 1 normal both;
}

.search-list-item:hover {
    background-color: var(--red);
    color: var(--white);
}

@media only screen and (max-width: 750px) {
    /* Mobile */
    .search-list-item {
        font-size: 1rem;
    }
}