/* Following rules made by Reet for the timeline customizer*/
.instruction-heading {
    font-family: 'Montserrat';
    font-size: clamp(1rem, 1.5rem, 2rem);
    text-align: center;
    background-color: var(--red);
    color: var(--white);
    opacity: 0.8;
    padding: 0.5rem;
}

.customizer-button-group {
    display: flex;
    justify-content: space-around;
}

.customizer-button-group>button {
    width: 20vw;
}

.slider-container {
    width: 80%;
    margin: 75px auto;
}

@media only screen and (max-width: 750px) {
    .instruction-heading {
        margin: 3vh 0;
    }

    .customizer-button-group {
        display: flex;
        flex-wrap: wrap;
    }

    .customizer-button-group>button {
        font-size: 1rem;
        width: 10rem !important;
        margin: 0.5rem 0;
    }

    .slider-container {
        margin: 5vh auto 0 auto;
    }
}