.background {
    position: absolute;
    top: 0;
    z-index: -1;
    overflow-y: scroll;
    background-color: var(--black);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.preference-icon {
    position: fixed;
    top: 0;
    right: 2rem;
    padding: 0.5em;
    border-radius: 100%;
    margin: 1dvh 0 1dvh auto;
    background-color: var(--red);
    color: var(--white);
    width: 4rem;
    cursor: pointer;
}

.timeline-container {
    position: absolute;
    top: 0;
    display: flex;
    margin: 0 50%;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
    min-height: 100vh;
}

.timeline-segment {
    display: flex;
    align-items: center;
}

@keyframes slideIn {
    from {
        margin: 0 50vw;
    }

    to {
        margin: 0 50px;
    }
}

.timeline-line {
    width: 40px;
    height: 200px;
    margin: 0px 50px;
    background-color: var(--red);
}

.spacer {
    width: 40px;
    margin: 0px 50px;
    background-color: transparent;
    animation: slideIn 500ms ease-out 0ms 1 normal forwards;
}

.legend-container {
    position: fixed;
    top: 5rem;
    right: 25px;
    font-family: 'Montserrat';
    font-size: 1.5rem;
    color: var(--white);
}
.legend-container > ul {
    list-style: none;
}
.legend-container > ul > li {
    height: 50px;
}
.legend-container > ul > li > div {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: var(--white);
    border-radius: 100%;
    margin-right: 25px;
}


@media only screen and (max-width: 1090px) {
    .preference-icon {
        position: absolute !important;
        width: 2rem;
    }

    .spacer {
        width: 40px;
        margin: 0px 20px;
        background-color: var(--red);
    }
    
    .timeline-offset {
        height: 4.5em !important;
        background-color: var(--black);
        z-index: 1;
    }

    .legend-container {
        font-size: 12px;
        top: 5em;
        position: absolute;
    }

    .legend-container > ul > li {
        height: 32px;
    }
    
    .legend-container > ul > li > div {
        width: 12px;
        height: 12px;
        margin-right: 5px;
    }

    @keyframes slideIn {
        from {
            margin: 0 50vw;
        }
    
        to {
            margin: 0 25px;
        }
    }
}