.manageAdmin {
    background-image: url('../../images/black-background.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


button:hover {
    background-color: white;
    color:red;
    border: 2px solid red;
  }
  

button {
    color: white;
    font-size: 16px;
    background-color:#EA252E; /* Change background color to red */
    border-radius: 20px;
    padding: 13px 35px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    border:none;
}

input {
    width: 100%;
    background-color: transparent;
    border: none;
    border-radius: 25px;
    border-bottom: 2px solid var(--grey);
    padding: 25px;
    margin: 0px;
    
    font-family: 'Montserrat';
    font-size: 1.5rem;
    color: var(--white);
}

.signoutbutton{
    position: absolute;
    top: 8px;
    right: 16px;
    margin: 40px;
    font-size: large;
    height: 55px;
}

.sign-out{
    float: left;
    margin-right: 10px;
}

.logoAdmin {
    position: absolute;
    top: 10px;
    left: 20px;
}

.title{
    position: absolute;
    top: 200px;
    font-size: 50px;
    color: #ffffff;
    left: 50%;
    transform: translate(-50%, 0%);
}

.settingActions{
    position: absolute;
    bottom: 50px;
    left: 50%;
}

.save{
    transform: translate(-60%, 0%);
    margin-bottom: 20px;
}

.delete{
    transform: translate(-60%, 0%);
    margin-bottom: 20px;
}

.exit{
    transform: translate(-60%, 0%);
    margin-bottom: 20px;
}


.p1-input{
    width: 300px;
    height: 20px;
}

.p2-input{
    width: 300px;
    height: 20px;
}

.email-input{
    width: 300px;
    height: 20px;
}


.email-label{
    display: inline-block;
    text-align: right;
    color: #ffffff;
    font-size: 25px;
    width: 200px;
}

.p1{
    display: inline-block;
    text-align: right;
    color: #ffffff;
    font-size: 25px;
    width: 200px;
}

.p2{
    display: inline-block;
    text-align: right;
    color: #ffffff;
    font-size: 25px;
    width: 200px;
}


.Password1{
    position: relative;
    right: 20%;
}

.Password2{
    position: relative;
    right: 20%;
}

.email{
    position: relative;
    right: 20%;
}