.artifact-bubble-heading {
    font-family: "Montserrat";
    color: var(--white);
    display: flex;
    align-items: center;
    margin: 25px;
    margin-bottom: 50px;
    width: max-content;
}

.timeline-image {
    margin-top: 20px;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: var(--black);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.timeline-image:hover {
    transform: scale(1.2);
    border-radius: 0;
}