/* make the text disappear when the user clicks on the searchbar */
input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* Firefox 18- */
input:focus::-moz-placeholder { color:transparent; } /* Firefox 19+ */

.background {
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('../../images/black-background.jpg');
    background-size: cover;
    background-position: center;
    width: 100vw;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    
    padding-top: 8vh;
}
/* accountfor mobile view */
@media (max-width: 1500px) {
    .background {
        padding-top: 20vh;
    }
}

/* accountfor mobile view */
@media (max-width: 1000px) {
    .background {
        padding-top: 30vh;
    }
}

.background > h1 {
    text-align: center;
}
.article-container {
    display: flex;
    justify-content: center;
}

.background, .list-item-text, .list-item-text > p, .list-item-text > span{
    color: var(--white);
    font-family: 'Montserrat';
}

.individual-article {
    background-color: var(--red);
    border-radius: 20px;
    margin: 1rem 0;
    transition: all ease-in-out 200ms;
}

.individual-article:hover {
    background-color: var(--white);
    cursor: pointer;
}
.individual-article:hover * {
    color: var(--red);
}


#list-page-artifact-search-bar {

    text-align: center;
    width: 400px;
    height: 50px;
    padding: 0 15px !important;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    color: var(--black);

    background: var(--white);
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

#input-div{
    text-align: center;
}


