input[type=text] {
    background-color: #3CBC8D;
    color: white;
}

input[type=text] {
    background-color: white;
    color: black;
}

input {
    width: 100%;
}

label {
    color: white;
}

select {
    color: white;
}

#artifact-add-form {
    width: 80%;
    margin: auto;
}

#form-outer {
    width: 95%;
    margin: auto;
}

#right {
    padding-top: 20px;
    float: right;
    width: 70%;
}

#left {
    float: left;
    width: 30%;
}

#upload {
    margin: 8px;
}

#add {
    margin: 8px;
    clear: left;
}

#add-button {
    margin: auto;
}

.MuiInputBase-root {
    margin: 8px;
    background: white;
}

.MuiButtonBase-root {
    margin: 10px;
}

.MuiSelect-select {
    color: white;
}

.MuiFormLabel-colorSecondary {
    color: white;
}

#logout {
    position: absolute;
    top: 10px;
    right: 10px;
}

.MuiTextField-root {
    width: 100%;
}


#name {
    padding-top: 20px;
}

#date {
    padding-top: 20px;
}

#exhibit {
    padding-top: 20px;
}

botton:hover {
    background-color: white;
    color: red;
    border: 2px solid red;
}