input[type=text] {
    background-color: #3CBC8D;
    color: white;
}

input[type=text] {
    background-color:white;
    color: black;
}
input{
    width: 100%;
}
label{
    color:white;
}
select{
    color:white;
}

#artifact-add-form{
    width: 80%;
    margin: auto;
}
#form-outer{
    width: 95%;
    margin: auto;
}
#right{
    float: right;
    width: 50%;
}
#left{
    float: left;
    width: 50%;
}
#upload{
    margin: 8px;
}
#add{
    margin: 8px;
    clear: left;
}
#add-button{
    margin: auto;
}
.MuiInputBase-root{
    margin:8px;
   background: white;
}
.MuiButtonBase-root{
    margin:10px;
}
.MuiSelect-select{
    color:white;
}
.MuiFormLabel-colorSecondary{
    color: white;
}
#logout{
    position: absolute;
    top: 12px;
    right: 10px;
}

.MuiTextField-root{
    width:100%;
}
