.background{
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-image: url('../../images/black-background.jpg');

  justify-content: center;
}

#artifact-form {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.column1 > ::placeholder, .year-container > ::placeholder {
  color: var(--white);
}

.column1 {
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.column1 > *, .year-container > * {
  font-size: 2rem;
}

#input-name, #input-year {
  background-color: transparent;
  color: var(--white);
  text-align: center;
  width: 25vw;
  border-bottom: 2px solid var(--white);
}

.year-container {
  display: flex;
}
#input-year {
  flex: 1;
}

#input-name {
  width: auto;
}

#input-era, #input-exhibit {
  color: var(--white);
  background-color: transparent;

  padding: 1em;
  text-align: center;

  border: none;
  border-bottom: 2px solid var(--white);
}



#input-image {
  width: 100%;
  margin-bottom: 2rem;
}

#image-display {
  display: flex;
  align-self: center;
  width: auto;
  height: 20vh;
  border-radius: 25px;
}

.column2 {
  height: 100%;
}

#input-description {
  width: 25vw;
  height: 100%;
  background-color: var(--white);
  color: var(--black);
  
  font-family: 'Montserrat';
  font-size: 1rem;

  padding: 1rem;
  border-radius: 25px;

  resize: none;
}

.submit-button {
  display: flex;
  align-self: center;
  width: fit-content;
  height: fit-content;
  border: none;
  border-radius: 10px;
  margin-top: 2.5rem;

  font-size: 1.5rem;
  font-family: 'Montserrat';
}

.submit-button:hover {
  background-color: var(--white);
  color: var(--red);
}