:root {
    --red: #EA252E;
    --black: #353238;
    --grey: #7C7B81;
    --white: #FAFAFA;
}

button {
    margin: 5%;
    background-color: var(--grey);
    color: var(--white);
    border-radius: 10px;
    padding: 25px;
    transition-duration: 500ms;}

button:hover {
    background-color: var(--red);
}
