.background {
    position: absolute;
    top: 0;
    z-index: -1;
    overflow-y: scroll;
    background-color: var(--black);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.timeline-container {
    position: absolute;
    top: 0;
    display: flex;
    margin: 0 50%;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
    min-height: 100vh;
}

.timeline-segment {
    display: flex;
}

@keyframes slideIn {
    from {
        margin: 0 50vw;
    }

    to {
        margin: 0 50px;
    }
}

.timeline-line {
    width: 40px;
    height: 200px;
    margin: 0px 50px;
    background-color: var(--red);
    animation: slideIn 500ms ease-out 0ms 1 normal forwards;
}

.legend-container {
    position: fixed;
    top: 0;
    right: 25px;
    font-family: 'Montserrat';
    font-size: 1.5rem;
    color: var(--white);
}
.legend-container > ul {
    list-style: none;
}
.legend-container > ul > li {
    height: 50px;
}
.legend-container > ul > li > div {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: var(--white);
    border-radius: 100%;
    margin-right: 25px;
}

.logo-and-language {
    position: fixed !important;
}

@media only screen and (max-width: 750px) {
    .timeline-offset {
        height: 4em !important;
        background-color: var(--black);
    }

    .legend-container {
        font-size: 12px;
        right: 10%;
        top: 4.5em;
        position: absolute;
    }
    .legend-container > ul > li > div {
        width: 12px;
        height: 12px;
        margin-right: 5px;
    }
    .logo-and-language {
        position: absolute !important;
    }

    @keyframes slideIn {
        from {
            margin: 0 50vw;
        }
    
        to {
            margin: 0 25px;
        }
    }
}