.background {
    position: absolute;
    top: 0;
    z-index: -1;
    overflow-y: scroll;
    background-color: var(--black);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.timeline-container {
    position: absolute;
    top: 0;
    display: flex;
    margin: 0 50%;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
}

.timeline-segment {
    display: flex;
}

.timeline-line {
    width: 40px;
    height: 200px;
    margin: 0px 50px;
    background-color: var(--red);
}