/* ╔⏤⏤⏤⏤╝ Website Fonts ╚⏤⏤⏤⏤╗*/

/* Monsterrat Font Import */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/* Open Sans Font Import */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* ╚⏤⏤⏤⏤╗ Website Fonts ╔⏤⏤⏤⏤╝*/

/* Defining Variables */
:root {
  /* Website's Colour Palette */
  --red: #EA252E;
  --black: #353238;
  --grey: #7C7B81;
  --white: #FAFAFA;
  --translucent-red: #ea252e80;
  --translucent-grey: #7c7b8180;

  /* Website's sizes */
  --logo-size: 80px;
}

/* Homepage Background */
div.home {
  height: 100vh;
  background: url('images/museum.png');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


/* ╔⏤⏤⏤⏤╝ Museum Logo and Language Toggle ╚⏤⏤⏤⏤╗*/
#logo-and-language {
  background: var(--translucent-grey);
  padding: 0em 1em;
  display: flex;
  flex-direction: row;
}

.logo {
  display: flex;
  width: 100%;
}

.logo-image > img {
  height: var(--logo-size);
  width: var(--logo-size);
  border-radius: 50%;
}

.logo-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo-text > span {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  color: var(--white);
}

.logo-text > hr {
  border: 1px solid var(--white);
  margin: 0px 0px;
  width: auto;
}

/* ╚⏤⏤⏤⏤╗ Museum Logo ╔⏤⏤⏤⏤╝*/



/* ╔⏤⏤⏤⏤╝ Homepage Exhibit Buttons/Button-wrappers ╚⏤⏤⏤⏤╗*/

/* Styles the UL that wraps all 4 exhibit buttons */
#exhibit-options-list {
  list-style-type: none;
  margin: 0;
  padding: 0em 2em;
}

/* Following rules made by Reet for the timeline customizer*/
.instruction-heading {
  font-family: 'Montserrat';
  font-size: 20px;
  text-align: center;
}
/* Generic button */
.option-button {
  font-family: 'Montserrat';
  font-size: 20px;

  background-color: var(--grey);
  color: var(--white);

  width: 25vw;
  padding: 25px 0px;
  border-radius: 20px;

  transition-duration: 500ms;
}
.option-button:hover {
  background-color: var(--red);
}
.button-row {
  display: flex;
  justify-content: space-between;
}
.submit-button {
  font-family: 'Montserrat';
  font-size: 20px;
  background-color: var(--red);
  color: var(--white);
  border-style: none;
  border-radius: 10px;

  display: flex;
  margin: auto;
  padding: 10px 50px;
}


/* Styles each button on the home page */
/* @TODO: Move some of these stylings to a general button target if needed */
#exhibit-options-list > div > li > button {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;

  background-color: var(--grey);
  color: var(--white);

  width: 33vw;
  padding: 25px 0px;
  border-radius: 20px;

  transition-duration: 500ms;
}

/* Styles the home page exhibit buttons on hover */
#exhibit-options-list > div > li > button:hover {
  background-color: var(--red);
}

/* Spaces the first row of buttons appropriately for desktop styles */
#exhibit-options-r1 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4em;
}

/* Spaces the second row of buttons appropriately for desktop styles */
#exhibit-options-r2 {
  display: flex;
  justify-content: space-around;
}

/* ╚⏤⏤⏤⏤╗ Homepage Button/Button-wrappers ╔⏤⏤⏤⏤╝*/


/* ╔⏤⏤⏤⏤╝ Homepage Time/Search Button/Button-wrappers ╚⏤⏤⏤⏤╗*/

#main-button-group {
  display: flex;
  margin-top: 8em;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 1em;
}

.landing-page-main-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 700px;
  height: 59px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;

  background: var(--white);
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.landing-page-main-button-link {
  text-decoration: none;
}

.landing-page-main-button-link:visited {
  color: var(--black);
}

#landing-page-artifact-search-bar {
  text-align: center;
  width: 675px;
  height: 59px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;

  background: var(--white);
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;

  padding-left: 25px;
}

/* #main-button-group > li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 700px;
  height: 59px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  
  background: var(--white);
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
} */

/* ╚⏤⏤⏤⏤╗ Homepage Time/Search Button/Button-wrappers ╔⏤⏤⏤⏤╝*/



/* ╔⏤⏤⏤⏤╝ Banners ╚⏤⏤⏤⏤╗*/

.translucent-banner {
  /* position: relative; */
  display: flex;
  align-items: center;
  justify-content: center;

  height: 61px;
  width: 100vw;
  margin: 2em 0em;

  background: var(--translucent-red);
  color: var(--white);
  
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
}

/* ╚⏤⏤⏤⏤╗ Banners ╔⏤⏤⏤⏤╝*/