/* ╔⏤⏤⏤⏤╝ Website Fonts ╚⏤⏤⏤⏤╗*/

/* Monsterrat Font Import */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/* Open Sans Font Import */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* ╚⏤⏤⏤⏤╗ Website Fonts ╔⏤⏤⏤⏤╝*/

/* Defining Variables */
:root {
  /* Website's Colour Palette */
  --red: #EA252E;
  --black: #353238;
  --grey: #7C7B81;
  --white: #FAFAFA;
  --translucent-red: #ea252e80;
  --translucent-grey: #7c7b8180;

  /* Website's sizes */
  --logo-size: 80px;
}



/* ╔⏤⏤⏤⏤╝ Homepage Exhibit Buttons/Button-wrappers ╚⏤⏤⏤⏤╗*/
/* Following rules made by Reet for the timeline customizer*/
.instruction-heading {
  font-family: 'Montserrat';
  font-size: 20px;
  text-align: center;
}
/* Generic button */
.option-button {
  font-family: 'Montserrat';
  font-size: 20px;

  background-color: var(--grey);
  color: var(--white);

  width: 25vw;
  padding: 25px 0px;
  border-radius: 20px;

  transition-duration: 500ms;
}
.option-button:hover {
  background-color: var(--red);
}
.button-row {
  display: flex;
  justify-content: space-between;
}
.submit-button {
  font-family: 'Montserrat';
  font-size: 20px;
  background-color: var(--red);
  color: var(--white);
  border-style: none;
  border-radius: 10px;

  display: flex;
  margin: auto;
  padding: 10px 50px;
}