/* ╔⏤⏤⏤⏤╝ Website Fonts ╚⏤⏤⏤⏤╗*/

/* Monsterrat Font Import */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/* Open Sans Font Import */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* ╚⏤⏤⏤⏤╗ Website Fonts ╔⏤⏤⏤⏤╝*/

/* Defining Variables */
:root {
  /* Website's Colour Palette */
  --red: #EA252E;
  --black: #353238;
  --grey: #7C7B81;
  --white: #FAFAFA;
  --translucent-red: #ea252e80;
  --translucent-grey: #7c7b8180;

  /* Website's sizes */
  --logo-size: 80px;
  --mobile-logo-size: 3em;

  overflow-x: hidden;
  /* overflow-y: hidden; */
}

/* ╔⏤⏤⏤⏤╝ Homepage Exhibit Buttons/Button-wrappers ╚⏤⏤⏤⏤╗*/

.button-row {
  display: flex;
  justify-content: space-between;
}

.landing-page-main-button{
  margin:2px;
}
.landing-page-main-button:hover{
  margin: 0px;
}

.primary-button {
  font-size: 20px;
  width: 25vw;
  padding: 25px 0px;
  border:none;
  border-radius: 20px;
  transition-duration: 500ms;
  margin: 2px;
}

.primary-button:hover {
  cursor: pointer;
  box-shadow: 0px 0px 5px 2px var(--black);
}

.secondary-button {
  font-family: 'Montserrat';
  font-size: 20px;
  background-color: var(--red);
  color: var(--white);
  border-radius: 10px;
  border: 2px solid var(--red);

  transition: all 300ms ease-in-out;

  display: flex;
  margin: auto;
  padding: 10px 50px;
}

.secondary-button:hover {
  cursor: pointer;
  background-color: white;
  color: var(--red);
  border: 2px solid var(--red);
}